# This Is A File For Assignment-7 Of Python Essentials:-

# Question-1 => Use The Dictionary
# port1 = {21:"FTP",22:"SSH",23:"telnet",80:"http"}
# Make A New Dictionary In Which Keys Become Values & Values Become Keys
# port2 = {'FTP': 21, 'SSH': 22, 'telnet': 23, 'http': 80}

In [ ]:
port1 = {21:"FTP",22:"SSH",23:"telnet",80:"http"}
port2 = {value:key for key,value in port1.items()}
print("The Required Dictionary Is :",port2)

The Required Dictionary Is : {'FTP': 21, 'SSH': 22, 'telnet': 23, 'http': 80}

# Question-2 => Take A List Of Tuples As Shown Below
# [(1,2),(3,4),(5,6),(4,5)]
# Make A New List Which Contains Sum Of Number Of Tuples
# Example - [3,7,11]

In [2]:
List1=[(1,2),(3,4),(5,6)]
List2=[]
for each in range(0,len(List1)):
    x,y=List1[each]
    List2.append(x+y)
print("The Final List Of Tuple & List Elements Are :",List2)

The Final List Of Tuple & List Elements Are : [3, 7, 11]

# Question-3 => Take A List As Shown
# [(1,2,3),[1,2],['a','hit','less']]
# The List Contains Tuple & Lists # 
# Make The Elements Of Inner Lists & Tuples To Outer List

In [ ]:
List1=[(1,2,3),[1,2],['a','hit','less']]   
List2=[]
List2=[i for each in List1 for i in each]
print ("The Final List Of Tuple & List Elements Are :",List2)

The Final List Of Tuple & List Elements Are : [1, 2, 3, 1, 2, 'a', 'hit', 'less']